<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link rel="icon" type="image/png" href="/image/logo.png">
<!-- Icône Apple -->
<link rel="apple-touch-icon" href="/image/logo.png">
<!-- Open Graph -->
<meta property="og:image" content="/image/logo.png">
<!-- Twitter -->
<meta name="twitter:image" content="/image/logo.png">

<meta property="og:type" content="website">
<meta property="og:site_name" content="Univers du Plaisir">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="Club privé réservé aux adultes. Rencontres, événements exclusifs et communauté discrète.">

<meta property="og:url" content="https://universduplaisir.onrender.com<%= req.originalUrl %>">

<meta property="og:image" content="https://universduplaisir.onrender.com/image/logo.png">

<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta property="og:image:type" content="image/png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="Club privé réservé aux adultes.">
<meta name="twitter:image" content="https://universduplaisir.onrender.com/image/logo.png">


<title>UNIVERS DU PLAISIR — Club Privé</title>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>